<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.m_alrajab.hpi_simplefitnessapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".RegistrationPage"
            android:label="@string/title_activity_registration_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LandingScreen"
            android:label="@string/title_activity_landing_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotPasswordScreen"
            android:label="@string/title_activity_forgot_password_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgetScreen"
            android:label="@string/title_activity_forget_screen"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>


</manifest>